:root {
  --primary_color: #cd9278;
  --gray_100: #070707;
  --gray_200: #444f55;
  --gray_300: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary_color: #cd9278;
    --gray_100: #f7f7f7;
    --gray_200: #bbbbbc;
    --gray_300: #1a1a1a;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  word-break: break-word;
  text-transform: lowercase;
  font-family: "Courier Prime", monospace;
  color: var(--gray_200);
  font-size: 1rem;
  font-weight: normal;
}

html {
  font-size: 16px;
  background-color: var(--gray_300);
  scroll-behavior: smooth;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: bold;
  color: var(--gray_100);
}

input,
button {
  border-style: solid;
  border-width: 0.1rem;
  padding: 0.2rem 0.6rem;
}

input {
  border-color: var(--gray_200);
  background-color: transparent;
}

button {
  background-color: var(--primary_color);
  color: var(--gray_300);
  border-color: var(--primary_color);
  cursor: pointer;
}

button:hover {
  filter: saturate(3);
}

button:disabled {
  background-color: var(--gray_200);
  border-color: var(--gray_200);
  cursor: not-allowed;
}

a {
  color: var(--primary_color);
}

a:visited {
  color: var(--gray_200);
}

a:hover {
  filter: saturate(3);
}

a:active {
  filter: saturate(2);
}
